:root {
    --hnk-red: #cc004d
}

* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-wrap-style: pretty;
}

header {
    margin: 1rem;
}

header > a[href="https://haakonkohler.com"]{
    color: black;
    text-decoration: none;
}

h1, h2, h3{
    color: var(--hnk-red);
    margin: 1rem;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 1.5rem;
}

h3{
    font-size: 1rem;
}

img{
    margin: 1rem;
}

img.mini {
    width: 10rem;
}

nav {
    margin: 1rem;
    max-width: 32rem;
}


p {
    color: black;
    font-size: 1rem;
    margin: 1rem;
}

.doubleContentContainer {
    display:flex;
}

.navigationColumn {
    max-width: 16rem;
}

.contentColumn {
    max-width: 32rem;
}